body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffffff, #f0f0c0)
    color: black;
    h1 {
      color: #1a73e8;
      font-weight: bold;
      }
    h2 {
        color: #1a73e8;
        font-weight: bold;
      }
    p {
        font-size: 18px;
      }
    li {
        font-size: 18px;
        line-height: 30px;
      }
  }
  
  .container {
    max-width: 800px;
    width: 100%;
    margin: 0px auto;
    text-align: left;
    padding: 0 20px;
  }
  
  .card {
    background: rgba(255,255,255,0.1);
    padding: 0 20px;
    margin: 20px auto;
    border-radius: 8px auto;
    backdrop-filter: blur(10px);
    max-width: 800px;
    width: 100%;
  }
@media (max-width: 600px) {

    body {
      font-size: 14px;
    }
  
    h1 {
      font-size: 24px;
    }
  
    h2 {
      font-size: 18px;
    }
  
    .container {
      margin: 40px auto;
    }
  
  }
