body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ffffff, #f0f0c0)
  color: black;
}

.container {
  max-width: 800px;
  margin: 80px auto;
  text-align: left;
  padding: 0 20px;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  width: 100%;
}

. h2 {
  color: #1a73e8; /* azul Google */
  font-weight: bold; /* opcional, deixa mais destacado */
}
