body {
    max-width: 800px;  
    margin: 40px auto;
    border: 40px auto;
    font-family: Arial, sans-serif;
    color: black;
    background-image: url("/assets/background.png");
    background-size: cover; 
    background-attachment: fixed; 
    background-color: white;   
   
    h1 {
      color: #1a73e8;
      font-weight: bold;
      font-size: 40px;
      }
    h2 {
        color: #1a73e8;
        font-weight: bold;
      }
    h3 {
        color: #1a73e8;
  }
  
  .card {
    background-color: white;
    max-width: 800px;
    width: 100%;
    margin: 40px auto;
    text-align: left;
    border: 40px auto;
    border-radius: 8px auto;
    backdrop-filter: blur(20px);
    line-height:40px auto ;
  }

  .posts ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    }

  .post-date {
    color: #555;
    font-size: 0.9rem;
    padding: 0px;
    
  }

@media (max-width: 600px) {

  .body {
      font-size: 14px;
      margin: 30px auto;

    }
  
    h1 {
      font-size: 24px;
    }
  
    h2 {
      font-size: 18px;
    }
    
  .card {
      width: 100%;
      margin: 40px auto;
      line-height:40px auto;

    }
  
  }
