body {
    margin: 20 auto;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffffff, #ffffff);
    color: black;
    h1 {
      color: #1a73e8;
      font-weight: bold;
      }
    h2 {
        color: #1a73e8;
        font-weight: bold;
      }
    h3 {
        color: #1a73e8;
  }
  
  .card {
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    text-align: left;
    background: linear-gradient(to right, #ffffff, #ffffff);
    padding: 30px auto;
    border-radius: 8px auto;
    backdrop-filter: blur(10px);
    line-height:25px;
  }

  .posts ul {
    list-style: none; /* remove os pontos */
    padding: 0;       /* remove o recuo padrão da lista */
    margin: 0;        /* opcional: remove margem */
    }

  .post-date {
    color: #555;       /* cinza discreto */
    font-size: 0.9rem; /* menor que o texto normal */
    padding: 0;
    
  }

@media (max-width: 600px) {

    body {
      font-size: 14px;
    }
  
    h1 {
      font-size: 24px;
    }
  
    h2 {
      font-size: 18px;
    }
  
    .container {
      margin: 40px auto;
    }

    .card {
      margin: 40px auto;
      width: 100%;
    }
  
  }
